@page "/"

<PageTitle>Home</PageTitle>

<!-- Page Content-->
<div class="container px-4 px-lg-5">

    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0"
                 src="Images/evento.jpg" alt="..." />
        </div>

        <div class="col-lg-5">
            <h1 class="font-weight-light">Tus sueños Casa de Novia</h1>
            <p>
                Una plataforma moderna que te permite agendar, organizar y gestionar tus eventos de forma sencilla. 
                Reserva tu boda, cumpleaños o cualquier celebración especial con total comodidad, explora servicios adicionales y 
                coordina cada detalle junto a nuestro equipo. 
                Todo en un solo lugar, de manera rápida, intuitiva y segura.
            </p>
            <a class="btn btn-primary" href="#">Call to Action!</a>
        </div>
    </div>

    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">
                Planifica tu evento ideal con facilidad. Agenda, personaliza y confirma cada detalle desde nuestra plataforma.
            </p>
        </div>
    </div>

    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="col-md-14 mb-lg-10">
                        <img class="img-fluid rounded mb-6 mb-lg-0"
                             src="Images/boda.jpg" />
                    </div>

                    <h2 class="card-title">💍Boda</h2>
                    <p class="card-text">
                        Celebra el día más importante de tu vida con una organización impecable. Creamos ambientes únicos, 
                        románticos y elegantes para que tu boda sea realmente inolvidable.
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="#">More Info</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="col-md-14 mb-lg-10">
                        <img class="img-fluid rounded mb-6 mb-lg-0"
                             src="Images/Cumplea.jpg" />
                    </div>
                    <h2 class="card-title">🎉Cumpleaños</h2>
                    <p class="card-text">
                        Haz de tu cumpleaños un momento especial. Diseñamos celebraciones divertidas, 
                        personalizadas y llenas de detalles que sorprenden a todos tus invitados.
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="#">More Info</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="col-md-14 mb-lg-10">
                        <img class="img-fluid rounded mb-6 mb-lg-0"
                             src="Images/Graduacion.jpg" />
                    </div>
                    <h2 class="card-title">🎓Graduacion</h2>
                    <p class="card-text">
                        Un logro tan grande merece una celebración memorable. Te ayudamos a crear un evento moderno, 
                        organizado y lleno de estilo para tu momento de graduación.
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="#">More Info</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-white">
            Copyright © Your Website 2023
        </p>
    </div>
</footer>
