@page "/sugerencias"
@attribute [Authorize(Roles = "Usuario")]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorizing>
        <p>Verificando permisos...</p>
    </Authorizing>
    <Authorized>
        @{
            var user = context.User;

            if (user.IsInRole("Admin"))
            {
                NavigationManager.NavigateTo("/admin/sugerencias", forceLoad: true);
            }
            else if (user.IsInRole("Usuario"))
            {
                NavigationManager.NavigateTo("/sugerencias/crear", forceLoad: true);
            }
            else
            {
                NavigationManager.NavigateTo("/admin/dashboard", forceLoad: true);
            }
        }
    </Authorized>
    <NotAuthorized>
        <p>Redirigiendo a Login...</p>
        @{
            NavigationManager.NavigateTo("/Account/Login", forceLoad: true);
        }
    </NotAuthorized>
</AuthorizeView>