.bg-Azul-Marino {
    background-color: #01206E !important;
    color: #ffffff; 
}

.logo-sidebar {
    width: 80px; 
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}
.admin-sidebar {
    width: 250px;
    min-width: 250px;
    overflow-y: auto;
}
@media (max-width: 768px) {
    .admin-page-wrapper {
        flex-direction: column !important;
        height: auto !important;
    }

    .admin-sidebar {
        width: 100% !important;
        min-width: 100% !important;
        height: auto !important;
        position: relative !important;
        box-shadow: none !important;
    }

    .admin-page-wrapper .content {
        width: 100% !important;
        flex-grow: 1;
        padding: 1rem !important;
    }

    .sidebar-content {
        padding: 1rem !important;
    }
}
