.bg-Azul-Marino {
    background-color: #01206E !important;
    color: #ffffff; 
}

.logo-sidebar {
    width: 80px; 
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}
